#wrapper {
    border: 1px solid black;
    width: 960px;
    margin: 0 auto;
	//background-color:#343434;
}

#logo
{
margin-left:auto;
margin-right:auto;
width:50%;
}

img
{
padding-top:45px;
width:"285";
height:"45";
}

html {
    width: 100%;
    height: 100% ;
    background-image:url('../img/orion3.jpg');
	background-image:repeat-x repeat-y;
}

p{

color:#fff;
}


#title {
    text-align: center;
    font-size: 32px;
	color:#FFF;
}

#mainContent div {
    //border: 1px solid black;
    min-height: 150px;
}

    #mainContent div button {
        float: left;
        margin-left: 250px;
        margin-top: 50px;
        height: 40px;
    }

#buttonContainer {
	padding-top:30px;
	padding-bottom:-50px;
	color:#e8e8e8;
}

#description {
    text-align: center;
    min-height: 20px;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/



/*--- Planets ---*/
#slides {
	top:15px;
	left:4px;
}


#RapperPng{
	width: 152px;
    height: 114px;
    position: absolute;
}

#backPng
{
	 z-index: 190;
	 margin-left: 85px;
	 margin-top: -50px;
	 width:170px;
	 height:168px;
}

div#backk{

	overflow-y: hidden;
	background-image:url('../img/PlanetPNG1.png');
	width:463px;
	height:289px;
	margin-left:610px;
	margin-top:90px;
}


/*---END Planets ---*/



/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:570px;
	height:270px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}


/*
	Footer
*/
#footer {
	margin-top:75px;
	text-align:center;
	color:#fff;
	font-size:12px;
}

/*
	Anchors
*/

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}


.styled-button-9 {
	background:#00A0D1;
	background:-moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
	background:-webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:-ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	background:linear-gradient(top,#00A0D1 0%,#008DB8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
	padding:8px 20px;
	color:#cfebf3;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #333
}
